:root {
    --primary-color: #fff;
    --secondary-color: #111;
}

.darkmode {
    --primary-color: #111;
    --secondary-color: #fff;
}

@font-face {
    font-family: "gt-ws";
    src: url("Assets/GT-Walsheim-Medium-Oblique-Trial-BF651b7fc69eff5.otf");
}

@font-face {
    font-family: "gt-wm";
    src: url("Assets/GT-Walsheim-Condensed-Medium-Trial-BF651b7fc70de01.otf");
}

@font-face {
    font-family: "gt-wl";
    src: url("Assets/GT-Walsheim-Condensed-Medium-Oblique-Trial-BF651b7fc67f44b.otf");
}

@font-face {
    font-family: "gt-wll";
    src: url("Assets/GT-Walsheim-Light-Trial-BF651b7fc714941.otf");
}

body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: left;
    min-height: 100vh;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    font-family: "gt-wll";
}

#head {
    position: fixed;
    width: 90%;
    display: flex;
    padding-top: 1%;
    background-color: var(--secondary-color);
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    font-family: "gt-wll";
}

#head:last-child {
    margin-right: auto;
}

h3 {
    font-family: "gt-wl";
}

h1 {
    font-family: "gt-ws";
    background: linear-gradient(to right, #9845E8, #33D2FF, #DD5789);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 90px;
    margin: 0%;
}

#nav {
    overflow: hidden;
    text-align: center;
}

p {
    font-family: "gt-wll";
    margin: 0%;
    font-size: large;
    font-weight: lighter;
}

.links {
    float: right;
    display: flex;
}

#nav a {
    text-align: center;
    color: var(--primary-color);
    padding: 14px 20px;
    text-decoration: none;
}

#nav a:hover {
    text-decoration: underline;
}

.txt {
    padding: 15% 10% 5% 10%;
    margin-left: auto;
    margin-right: auto;
}

#pg {
    margin-top: 1%;
    line-height: 25px;
}

#toggleMode {
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 50%;
    background: none;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#toggleMode svg {
    fill: var(--primary-color);
}

#toggleMode svg:last-child {
    display: none;
}

.darkmode #toggleMode svg:first-child {
    display: none;
}

.darkmode #toggleMode svg:last-child {
    display: block;
}

.divider {
    height: .5px;
    background: #C6C6C6;
    margin: 10px auto;
    width: 80%;
    opacity: 50%;
}

#project {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title {
    margin: 5% 0 10% 0;
    font-family: "gt-wll";
}

.card {
    width: 300px;
    background-color: var(--secondary-color);
    border-radius: 12px;
    box-shadow: 0 4px 12px #0000001a;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    margin: 5px;
}

.card-image {
    height: 180px;
}

.cardContent {
    padding: 20px;
    text-align: center;
}

.cardTitle {
    margin-top: 0;
    color: var(--primary-color);
    font: size 1.5em;
}

.cardText {
    color: var(--primary-color);
    font-size: .9em;
    line-height: 1.4;
    margin-bottom: 20px;
}

.cardBtn {
    background-color: #004E93;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color .3s;
}

.cardBtn:hover {
    background-color: #0a3153;
}