:root {
    --primary-color: #fff;
    --secondary-color: #111;
}

.darkmode {
    --primary-color: #111;
    --secondary-color: #fff;
}

@font-face {
    font-family: "gt-ws";
    src: url("GT-Walsheim-Medium-Oblique-Trial-BF651b7fc69eff5.otf");
}

@font-face {
    font-family: "gt-wm";
    src: url("GT-Walsheim-Light-Trial-BF651b7fc714941.otf");
}

@font-face {
    font-family: "gt-wl";
    src: url("GT-Walsheim-Condensed-Medium-Oblique-Trial-BF651b7fc67f44b.otf");
}

@font-face {
    font-family: "gt-wll";
    src: url("GT-Walsheim-Light-Trial-BF651b7fc714941.otf");
}

body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: left;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    font-family: "gt-wm";
}

#head {
    display: flex;
    justify-content: space-between;
    font-family: "gt-wm";
    padding: 0% 5%;
}

h3 {
    font-family: "gt-wl";
}

h1 {
    font-family: "gt-ws";
    background: linear-gradient(to right, #9845E8, #33D2FF, #DD5789);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 90px;
    margin: 0%;
}

#nav {
    overflow: hidden;
    text-align: center;
}

p {
    font-family: "gt-wll";
    margin: 0%;
    font-size: large;
    font-weight: lighter;
}

.links {
    float: right;
    display: flex;
}

#nav a {
    text-align: center;
    color: var(--primary-color);
    padding: 14px 20px;
    text-decoration: none;
}

#nav a:hover {
    text-decoration: underline;
}

.txt {
    padding: 15% 10%;
    margin-left: auto;
    margin-right: auto;
}

#pg {
    margin-top: 1%;
    line-height: 25px;
}

#toggleMode {
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 50%;
    background: none;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#toggleMode svg {
    fill: var(--primary-color);
}

#toggleMode svg:last-child {
    display: none;
}

.darkmode #toggleMode svg:first-child {
    display: none;
}

.darkmode #toggleMode svg:last-child {
    display: block;
}